.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/*top section*/

#top{
	text-align: center;
	background-color: grey;
}
/*about section*/

#about-section{
	padding: 7% 15%;
	text-align: center;
	background-color: lightgray;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.allinfo{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.info_one{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}

.infobetween{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
}

.info_two{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}
.social a {
    color: #2d455f;
    text-decoration: none;
	background-color: rgb(207, 214, 240);
	font-size: 1.1em;
	border-radius: 50%;
	margin: 0 0.5rem;
	padding: 0.4em;
}

.resume a {
	color: #2d455f;
	text-decoration: none;
	background-color: rgb(110, 145, 241);
	font-size: 1.5em;
	padding: 0.5em;
	border-radius: 10%;
}

footer {
	background-color: #f2f2f2;
	padding: 25px;
	box-shadow: 2px 2px 2px 2px rgb(165, 166, 168);
}

.my-photo{
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.linkin{
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
ul{
	text-align:left ;
}

.box{
	background-color: #eff2f5;
	/* box-shadow: 0px 0px 0px 0.5px rgb(166, 168, 169); */
	padding: 1em;
} 